/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0rem;
  height:100vh;
  box-shadow: 0px 0px 50px 1px #000 inset;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeButtonContainer{
  padding: 3rem 8rem 3rem 8rem;
  text-align: center;
}

.homeButton{
  display: inline-block;
}

.gamesButton{
  background-image: url("/static/img/back.jpg");
}

.SketchfabEmbed{
  box-shadow: 0px 0px 50px 1px #000;
  Border-Radius: 3%/4%;
  width: 48rem;
  height: 36rem;
}

.SketchfabContainer{
  width: max-content;
  margin: auto;
  padding: 10rem 0rem 10rem 0rem;
}