.article {
  height: 100%;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.ButtonImage{
  object-fit: cover;
  border-radius: 2%/3%;
  padding: 0rem;
}

.article:hover {
  scale: 101%;
}

.ButtonImage:hover {
  filter: brightness(70%);
}

.header {
  font-size: 5rem;
  text-shadow: 0rem 0rem 1rem #000000;
  user-select: none;
  pointer-events: none;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
